.button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--bgButton);
   border: 1px solid var(--borderButton);
   border-radius: 6px;
   width: 50px;
   height: 50px;
   cursor: pointer;
   transition: all 0.5s ease;
}

.customIcon {
   font-size: 2rem;
   display: flex;
   align-items: center;
   color: var(--colorButton);
   transition: all 0.5s ease;
   text-decoration: none;
}

.button:hover {
   .customIcon {
      color: var(--linkHover);
   }
}

a {
   display: flex;
   align-items: center;
   height: 2.75rem;
   color: var(--colorButton);
   transition: all 0.5s ease;
   text-decoration: none;
}

a:hover {
   color: var(--linkHover);
}

.navlink {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--bgButton);
   border: 1px solid var(--borderButton);
   border-radius: 6px;
   width: 200px;
   height: 50px;
   cursor: pointer;
   transition: all 0.5s ease;
   font-size: 1rem;
}