.title {
   display: flex;
   flex-direction: column;
   gap: 10px;

   a {
      color: var(--textWhite);
      font-size: 1rem;
   }

   h1 {
      color: var(--textWhite);
      font-size: 2rem;
      font-weight: 700;
   }

   h2 {
      color: var(--textWhite);
      font-size: 1.2rem;
      font-weight: 500;
   }

   h3 {
      color: var(--textWhite);
      font-size: 1rem;
      font-weight: 400;
   }

   p {
      color: var(--textGrey);
      font-size: 1rem;
      font-weight: 400;
   }
}