.navlink {
   padding-block: 25px;
   /* padding-inline: 5px; */
   text-decoration: none;
   border-radius: 6px;
   transition: all .3s ease;
   height: 6rem;
   border: 1px solid transparent;

   span {
      transition: all .3s ease;
   }

   h1 {
      color: var(--textWhite);
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 5px;
   }

   p {
      color: var(--textGrey);
      font-size: 0.9rem;
      font-weight: 400;
   }
}

.navlink:hover {
   background: var(--bgButton);
   border: 1px solid var(--borderButton);

   span {
      margin-left: 10px;
   }
}